:root {
  /* generic */
  --lineHeightSm: 1.1;
  --lineHeightMd: 1.8;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeLg);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 50%;
  --labelTransformedPosY: calc(
    (var(--labelDefaultPosY)) - (var(--inputPaddingV) * var(--labelScaleFactor)) -
      (var(--inputFontSize) * var(--inputLineHeight))
  );
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

body {
  background-color: #141824;
  font-size: 16px;
  color: $white;
  font-family: "Titillium Web", sans-serif;
}

html {
  outline: 1px solid transparent;
}

a {
  text-decoration: none;
}

.animated {
  position: relative;
  width: 100%;
  display: block;
  -webkit-animation-timing-function: ease-in-out; /* Chrome, Safari, Opera */
  animation-timing-function: ease-in-out;
}

.slick-frame {
  visibility: hidden;
}
.slick-frame.slick-initialized {
  visibility: visible;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #232121 inset;
  box-shadow: 0 0 0px 1000px #232121 inset;
  transition: background-color 5000s ease-in-out 0s;
}
