.card {
  position: relative;
  margin: 0.625em 0.75rem 2rem;
  padding: 1.5rem;
  --aug-border: 1px;
  --aug-tr: 20px;
  --aug-bl: 20px;
  --aug-border-bg: var(--shade-1);
  --aug-border-fallback-color: var(--shade-1);
  transform: scaleY(0);
  animation: expand 0.25s linear 2s forwards;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .card {
    margin: 0.625rem 0 1.5rem;
  }
}
