a:hover {
  color: $blue-2;
  text-decoration: underline;
}

.card {
  position: relative;
  margin: 0.625em 0.625em 2em;
  padding: 1.5em;
  --aug-border: 1px;
  --aug-tr: 20px;
  --aug-bl: 20px;
  --aug-border-bg: #ccfcff;
}
