@keyframes expand {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaley(1);
  }
}

@keyframes fadepulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes eq-line {
  0% {
    background-position: 0;
  }

  50% {
  }
}
