html {
    outline: 1px solid transparent;
}

body {
    background: -webkit-linear-gradient(-179deg, #F47C31 4%, #E86E4D 6%, #BB453F 12%, #7F1134 19%, #66133D 28%, #101010 34%, #101010 100%);
    background: -moz-linear-gradient(-179deg, #F47C31 4%, #E86E4D 6%, #BB453F 12%, #7F1134 19%, #66133D 28%, #101010 34%, #101010 100%);
    background: -ms-linear-gradient(-179deg, #F47C31 4%, #E86E4D 6%, #BB453F 12%, #7F1134 19%, #66133D 28%, #101010 34%, #101010 100%);
    background: -o-linear-gradient(-179deg, #F47C31 4%, #E86E4D 6%, #BB453F 12%, #7F1134 19%, #66133D 28%, #101010 34%, #101010 100%);
    background: linear-gradient(-179deg, #F47C31 4%, #E86E4D 6%, #BB453F 12%, #7F1134 19%, #66133D 28%, #101010 34%,  #101010 90%, #160734 100%);
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: 768px) {
        background: -webkit-linear-gradient(-179deg, #F47C31 4%, #E86E4D 6%, #BB453F 12%, #66133D 22%, #101010 25%, #101010 100%);
        background: -moz-linear-gradient(-179deg, #F47C31 4%, #E86E4D 6%, #BB453F 12%, #66133D 22%, #101010 25%, #101010 100%);
        background: -ms-linear-gradient(-179deg, #F47C31 4%, #E86E4D 6%, #BB453F 12%, #66133D 22%, #101010 25%, #101010 100%);
        background: -o-linear-gradient(-179deg, #F47C31 4%, #E86E4D 6%, #BB453F 12%, #66133D 22%, #101010 25%, #101010 100%);
        background: linear-gradient(-179deg, #F47C31 4%, #E86E4D 6%, #BB453F 12%, #66133D 22%, #101010 25%, #101010 100%);
        background-repeat: no-repeat;
        background-size: contain;
    }

    @media screen and (min-width: 768px) {
        overflow: hidden;
    }
}
    
.navigation {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 38px 0;
    z-index: 100;
    max-width: 1440px;
    

    .link-home {
        width: 81px;
        cursor: pointer;
    }

    .link-contact {
        display: block;
        color: $white;
        font-size: 14px;
        font-weight: 700;
    }

    @media screen and (max-width: 768px) {
        height: 80px;
        padding: 0 38px;
        align-items: center;
        transition: all .25s ease;

        &.dark {
            background-color: #101010;
        }

    }

}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;

    &.active {
        opacity: 1;
        transition: opacity 2s ease 1.2s;
    }

    video {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.casestudy-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: none;
    z-index: 5;
}

.video-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    video {
        position: relative;
        top: 50%;
        left: 50%;
        min-width: 100vw;
        max-width: none;
        transform: translate(-50%, -50%);
        width: auto;
        min-height: 100vh;
    }

    &:before,
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        transform: rotate(-180deg);
        background-image: linear-gradient(-180deg, rgba(35,35,35,0) 0%, #222 98%);        
        z-index: 10;
    }

    &:after {
        top: auto;
        bottom: 0;
        transform: none;
        z-index: 9;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }

}

.intro-slide {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;        
    max-width: 1440px;

    @media screen and (max-width: 768px) {
        // display: none;
    }

    .drogo {
        visibility: hidden;
        position: absolute;
        top: -18%;
        left: 0;
        width: 100%;
        height: 100vh;
        background: url("/images/stars-clouds.png") top center no-repeat;
        background-size: contain;

        @media screen and (max-width: 768px) {
            top: 24%;
        }

    }

    .intro {
        // z-index: 20;

        .scene2-el {
            outline: 1px solid transparent;
            margin-bottom: 20px;
        }

        h1 {
            visibility: hidden;
        }

        h3 {
            visibility: hidden;
        }

        p {
            visibility: hidden;
            width: 100%;
            margin: 0 auto;
            max-width: 505px;

            @media screen and (max-width: 768px) {
                text-align: center;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.25px;
                text-align: center;
                width: 60%;
                margin: 0 auto;
            }
        }

        .link-contact {
            text-transform: uppercase;
            visibility: hidden;
            margin: 0 auto;
            font-family: proxima-nova, sans-serif;
            font-size: 14px;
            font-weight: 700;
            // min-width:40%;
            display:inline-block;
            color: #fff;
            letter-spacing: 0.5px;
            padding: 10px 0;
            border-bottom: 2px solid #ef6840;

            &:hover {
                cursor: pointer;
            }
        }
    }        
}

.intro {
    text-align: center;
    width: 100%;
    max-width: 1440px;
}
