.container {
  display: flex;
  flex-wrap: no-wrap;
  padding: 1em;
  width: 100%;
}

.sector-one {
  width: 35%;
}

.sector-two {
  width: 65%;
}

.intro-vitals {
  width: 100%;
}

.hero {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  .video-circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

    video {
      transform: scale(1);
      width: 190px;
      margin-top: -40%;
    }
  }
}

.contact {
  li {
    margin-bottom: 0.5em;
  }
}

.skillset {
  li {
    position: relative;
    width: 50%;
    margin-bottom: 0.5em;

    .skill {
      display: block;
      position: absolute;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      left: 50%;
      height: 50%;
      width: 0%;
      background: linear-gradient(to right, $blue-3, $blue-1);
      transition: width 0.5s ease;
    }
  }
}

//Resume
.cv {
  outline: 1px solid $blue-1;
}

.experience {
  margin: 2em 0;

  h3 {
    color: $blue-2;
    margin-bottom: 0;
  }

  p {
    margin-top: 0.5em;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .sector-one,
  .sector-two {
    width: 100%;
  }

  .skillset {
    margin-bottom: 0;
  }

  .scrobble-sector {
    .album-image {
      width: 50%;
    }
  }

  .skillset {
    li {
      .skill {
        left: 70%;
      }
    }
  }
}
