// Colors, colors colors colors

$black: #000000;
$white: #ffffff;

$base-color: blue;

.blue {
  --shade-1: #ccfcff;
  --shade-2: #6f8fa3;
  --shade-3: #365063;
  --shade-4: #18293a;
  --shade-5: #141824;
}
.green {
  --shade-1: #32c932;
  --shade-2: #114411;
  --shade-3: #0e350e;
  --shade-4: #092109;
  --shade-5: #061606;  
}


$error-red: #f40000;

// =============================================
// State messages
// =============================================

.error-msg {
  color: $error-red;
}

// =============================================
// Layout - utility classes - AKD
// =============================================

.is-hidden[style] {
  display: none !important;
}

.center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-vh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.desktop-only {
  display: none;
  @media only screen and (min-width: 768px) {
    display: block;
  }
}

.mobile-only {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
  }
}
